{% extends "user_page/user_layout.html" %}
{% load static %}
{% block content%}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Momiji Lake</li>
      </ol>
      <h2 class='text-center'>Momiji Lake</h2>

    </div>
</section><!-- End Breadcrumbs --> 

<section class="container">
    <div class="row justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3230.5424382178144!2d138.03394371041924!3d35.933698315950906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzXCsDU2JzAxLjMiTiAxMzjCsDAyJzExLjUiRQ!5e0!3m2!1sen!2sbd!4v1686505653402!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{% endblock content %}
